body {
  font-family: Century Gothic;
       width: 100%;
       background-color: #000000;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
        
}
#nase {
 height: 130px;
 width: 130px;
 float: right;
 
}

#nasa {
 height: 130px;
 width: 130px;
 float: left;
}

#title {
 text-shadow: 4px 4px rgb(215, 215, 193);
 width: 100%;
 border: hidden;
 background-color: rgb(255, 173, 51);
 
}
h1 {
   margin: -10px;
   font-size: 100px;
   font-weight: 1000;
   
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
  color: white;
}
#placemarkContent{
 margin: 10px;
}
#placemarkImage{

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.search-btn { 
color: #e84118; 
float: right; 
width: 40px;
height: 40px; 
border-radius: 50%; 
background: #2f3640; 
display: flex; 
justify-content: center; 
align-items: flex-end; 
transition: 0.4s; 
color: white; 
cursor: pointer; 
}

.search-btn > i { 
font-size: 30px; 
}

.search-txt {
border: none; 
background: none; 
outline: none; 
float: left; 
padding: 0; 
color: white; 
font-size: 16px; 
transition: 0.4s; 
line-height: 40px;
 width: 0px; 
font-weight: bold; 
}
